body {
    margin: 0;
    background-color: rgb(224, 166, 111);
}

.main-nav {
    background-color: white;
    height: 120px;
    /* overflow: wrap; */
}

.icon-size {
    width: 30px;
    padding: 5px;
}

.icon-size:hover {
    background-color: antiquewhite;
    border-radius: 50%;
}

.logo {
    display: inline;
    padding-top: 10px;
    width: 10vw;
    /* background-color: rgb(196, 172, 172); */
    margin: 0 5vw 0 20vw;
}

.social-container {
    display: inline;
    width: 20vw;
    float: left;
    padding: 10px;
    /* background-color: antiquewhite; */
    /* clear: all; */
}

.navbar {
    display: inline;
    width: 40vw;
    float: right;
    clear: all;
    /* background-color: bisque; */
}

.nav-ul {
    list-style-type: none;
    clear: all;
}

.navlinks {
    font-family: 'Zen Loop', cursive;
    font-weight: 400;
    font-size: 30px;
    display: inline;
    padding: 10px;
    float: right;
    clear: left;
}

.navlinks a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.navlinks a:hover {
    background-color: antiquewhite;
}


/* .navlinks a:active {
    text-decoration: underline;
} */

.active {
    background-color: bisque;
}

.wallys-device-desktop {
    font-family: 'Varela Round', sans-serif;
    margin: 60px 0 0 10px;
    text-align: center;
}

.wallys-device-mobile {
    font-family: 'Varela Round', sans-serif;
    margin: 40px 0 0 10px;
    text-align: center;
}

.wallpapers {
    padding: 10vh 10vw;
}

.space-cards {
    width: 5vw
}

.space-cards2 {
    width: 2vw;
}

.btn {
    background-color: rgb(218, 147, 152);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: rgb(225, 65, 100);
}


/* On screens that are 992px or less, set the background color to blue */

@media screen and (max-width: 992px) {
    .navlinks {
        font-size: 20px;
        font-weight: 800;
    }
    .main-nav {
        height: 70px;
    }
}


/* On screens that are 992px or less, set the background color to blue */

@media screen and (max-width: 620px) {
    /* .navlinks {
        font-size: 15px;
        font-weight: 800;
    }
    .main-nav {
        height: 100px;
    }
    #logo {
        width: 20vw;
    }
    .navbar {
        width: 30vw;
    }
    .navinks {
        padding: 0;
    }
    .navlinks a {
        text-align: center;
        /* padding: 0; */
    .main-nav {
        background-color: white;
        height: 120px;
        /* overflow: wrap; */
    }
    .icon-size {
        width: 30px;
        padding: 5px;
    }
    .icon-size:hover {
        background-color: antiquewhite;
        border-radius: 50%;
    }
    .logo {
        display: inline;
        padding-top: 10px;
        width: 20vw;
        /* background-color: rgb(196, 172, 172); */
        margin: 0 5vw 0 10vw;
    }
    .social-container {
        display: inline;
        width: 30vw;
        float: left;
        padding: 10px;
        /* background-color: antiquewhite; */
        /* clear: all; */
    }
    .navbar {
        display: inline;
        width: 30vw;
        float: right;
        clear: all;
        /* background-color: bisque; */
    }
    .nav-ul {
        list-style-type: none;
        clear: all;
    }
    .nav-ul li {
        align-items: left;
    }
    .navlinks {
        font-family: 'Zen Loop', cursive;
        font-weight: 400;
        font-size: 20px;
        display: inline;
        padding: 5px;
        float: right;
        clear: left;
    }
    .navlinks a {
        color: black;
        text-decoration: none;
        padding: 10px;
    }
    .navlinks a:hover {
        background-color: antiquewhite;
    }
}